<?xml version="1.0"?>
<config>
    <modules>
        <RK_TypeCMS>
            <version>3.0.0</version>
        </RK_TypeCMS>
    </modules>
    <global>
        <page>
            <types>
                <default>
                    <label>Default</label>
                    <model>typecms/page_type_default</model>
                    <block>typecms/page_type_default</block>
                    <template>typecms/default.phtml</template>
                    <handle>typecms_default</handle>
                </default>
                <collection>
                    <label>Collection</label>
                    <model>typecms/page_type_default</model>
                    <block>typecms/page_type_collection</block>
                    <template>typecms/collection.phtml</template>
                    <handle>typecms_collection</handle>
                </collection>
            </types>
        </page>
        <blocks>
            <typecms>
                <class>RK_TypeCMS_Block</class>
            </typecms>
        </blocks>
        <models>
            <typecms>
                <class>RK_TypeCMS_Model</class>
                <resourceModel>typecms_resource</resourceModel>
            </typecms>
            <typecms_resource>
                <class>RK_TypeCMS_Model_Resource</class>
                <entities>
                    <page>
                        <table>typecms_page_entity</table>
                    </page>
                    <page_varchar>
                        <table>typecms_page_entity_varchar</table>
                    </page_varchar>
                    <page_text>
                        <table>typecms_page_entity_text</table>
                    </page_text>
                    <page_int>
                        <table>typecms_page_entity_int</table>
                    </page_int>
                </entities>
            </typecms_resource>
        </models>
        <helpers>
            <typecms>
                <class>RK_TypeCMS_Helper</class>
            </typecms>
        </helpers>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <typecms>
                        <type>singleton</type>
                        <class>typecms/observer</class>
                        <method>adminhtmlCmsPageEditTabMainPrepareForm</method>
                    </typecms>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_save_after>
                <observers>
                    <typecms>
                        <type>singleton</type>
                        <class>typecms/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </typecms>
                </observers>
            </cms_page_save_after>
        </events>
        <resources>
            <typecms_setup>
                <setup>
                    <module>RK_TypeCMS</module>
                    <class>RK_TypeCMS_Model_Resource_Setup</class>
                </setup>
            </typecms_setup>
            <typecms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </typecms_write>
            <typecms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </typecms_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <typecms>
                    <file>typecms.xml</file>
                </typecms>
            </updates>
        </layout>
        <events>
            <cms_page_render>
                <observers>
                    <rk_typecms_cms_page_render>
                        <type>singleton</type>
                        <class>typecms/observer</class>
                        <method>onCmsRenderPage</method>
                    </rk_typecms_cms_page_render>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
</config>
